body {
    background: $color-lovely;
    font-family: $main-font-family;
    font-size: $font-size-base;
    color: $main-text-color;

    @include if-mobile-landscape {
        background: $color-click;
    }

    @include if-tablet-portrait {
        background: $color-silver;
    }

    @include if-tablet-landscape {
        background: $color-fall-for;
    }
}
